
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Number of students</title>
</head>
<body>
    <form action="~/Views/Students/number_students" method="get">
        <div>
            
            <input type="image" name="message" border="0" style="width:300px" value="@ViewBag.message" />

        </div>
    </form>
    
</body>
</html>
